<!--/* Product Cards from from PDP */-->

<span> Product Listing Cards from PDP </span>
<div data-sly-use.model="${'com.adobe.aem.onlineshopping.core.models.GetProductDetailModel' @ tag = 'hcp-site:pediatric'}"
	numberOfcards = "abcd">

	<sly data-sly-list.productDetails="${model.productDetailList}"> 

			<div class="card" style="width: 18rem;">
                <img class="card-img-top" src=${productDetails.image} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">${productDetails.title}</h5>
                    <p class="card-text">${productDetails.description @ context='html'}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>    
                </div>
			</div>
	</sly>
</div>



<!--/* Product Cards from Page Properties */-->
<!--/* 

<span> Product Listing Cards from Page Properties</span>

<div data-sly-use.model="${'com.adobe.aem.onlineshopping.core.models.GetProductsModel' @ tag = 'hcp-site:adult'}"
	numberOfcards = "abcd">

	<sly data-sly-list.productDetails="${model.productDetailList}"> 
			<div class="card" style="width: 18rem;">
                <img class="card-img-top" src=${productDetails.image} alt="Card image cap">   
                <div class="card-body">
                    <h5 class="card-title">${productDetails.title}</h5>        
                    <p class="card-text">${productDetails.description}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>    
                </div>
			</div>
	</sly>
</div>
 */-->